* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #eff7f6;
}

h1 {
  text-align: center;
  background-color: #009879;
  color: #ffffff;
  line-height: 3rem;
  width: 100%;
}
.user-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  margin: 20px 0;
  width: 100%;
  gap: 20px;
}
.user-info,
.gender-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: max-content;
  width: 100%;
  color: #009879;
  font-weight: bold;
}

.user-info label,
.user-info input {
  font-size: 1.25rem;
}
.user-info input {
  padding: 1rem 0.75rem;
  height: 1.75rem;
  outline: none;
  border: 2px solid #009879;
  border-radius: 0.5rem;
  background-color: transparent;
}
.gender-title {
  margin-right: 19rem;
  font-weight: bold;
  color: #009879;
  font-size: 1.25rem;
}

.genders {
  border: 2px solid #009879;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: #000;
  max-width: max-content;
  width: 100%;
  font-weight: normal;
  padding: 0.2rem 0.6rem;
}

.genders input {
  margin: 8px;
}
.btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn button {
  background-color: #009879;
  color: #ffffff;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
input,
label {
  cursor: pointer;
}
.btn button:hover {
  background-color: #ffffff;
  color: #009879;
  border: 1px solid #009879;
}
.table-content {
  border-collapse: collapse;
  margin: 20px 0px;
  font-size: 1em;
  width: 100%;
}
.table-content thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
}
.table-content td,
th {
  padding: 0.75rem 1rem;
}
.table-content tbody tr {
  border-bottom: 1px solid #d3d3d3;
}
.table-content tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

@media (max-width: 600px) {
  .user-info,
  .gender-info,
  .genders {
    width: 100%;
    max-width: none;
  }
  .table-content {
    width: 50%;
  }
  th,
  td {
    text-align: left;
    padding: 0.5rem;
    font-size: small;
  }
}
